/* Custom Developer Document */
.breadcrumb {padding: 2px;}
.wrapper { padding: 20px 0px;!important }

/* grid view start*/
.grid-view table.items th#bridge-profile-grid_c0 {width:5%;  text-align:center }
.grid-view table.items th#bridge-profile-grid_c1 { width:8% }
.grid-view table.items th#bridge-profile-grid_c2 { width:8% }
.grid-view table.items th#bridge-profile-grid_c6 {width: 15%}
.errorSummary{ background: url("../img/simple-tips-bg.png") repeat-x scroll center top #FFFFCA;
    border: 1px solid #E0DBC2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #F0F0F0;
    color: red;
    font-size: 11px;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 12px 17px;
    position: relative;}
.error_position{color: red; margin-left: 514px; margin-top: -27px;}
#BridgeConfig_config_type_id {float: left;}
#BridgeConfig_config_type_id .radio {float: left; }
#BridgeConfig_config_type_id img {float: left; border:1px groove #FCFCFC; margin-bottom: 5px; cursor:pointer;}


#quickmenu-right .box {width: 15px; height:15px; border: 1px groove #fcfcfc; margin: -5px 10px;}
#quickmenu-right .box-active {width: 17px; height:17px; border: 2px groove #fff; margin: -5px 10px;}
#quickmenu-right .blue {background:#1a527d;} 
#quickmenu-right .dark {background:#444;}
#quickmenu-right .green {background:#317f3b;}
#quickmenu-right .orange {background:#E47848;}
#quickmenu-right .purple {background:#92577A;}
#quickmenu-right .seagreen {background:#468E90;}
/* grid view end */