/* Custom Developer Document */
.ui-autocomplete {height: 200px; overflow-y: scroll; }

.captcha {float: left; width: 155px; border: 1px solid #fcfcfc; padding: 5px;}
.captcha img {float: left;}
.captcha a {float: left;}
.captcha .captcha-text {float: left;}



/* User module */
input[readonly="readonly"]{ background-color: #ECDEC5; border: none; padding: 5px; border: 1px solid;}
.templatemo_main {min-height: 500px;}

.left-col {min-height:500px; width: 20%; float: left; background-color: #E67F10; color: #fff; padding: 5px 10px; border: 1px solid #E67F10;}
.left-col ul.left_link { padding-left: 10px; list-style: none};
.left-col ul.left_link li {list-style: none; padding: 0px 5px; font-weight: bold; border: 1px solid #fff;}
.left-col ul.left_link li span {cursor: pointer; font-size: 14px;}
.main-col {min-height:500px; width: 60%;  float: left; border: 1px solid #FAC316; padding: 5px 10px;background: #FDF9F4;}
.right-col {min-height:500px; width: 20%;  float: left;}


.left-col ul.left_link li { background: #EC8D28; font-weight: bold; padding: 5px; margin: 0 -20px; }
.left-col ul.left_link li.active { background: #63401B; font-weight: bold; padding: 5px; margin: 0 -20px; }