body { margin: 0; padding: 0; color: #555; font: normal 10pt Arial, Helvetica, sans-serif;  background:url("../images/admin-main-bg.png") repeat-x scroll 0 66px #fff; }
#page { margin: 0 auto 5px; width:90%; }
input[type="text"], input[type="password"] { padding:3px 5px }
h1 { color:#43464B; font-size:26px; margin-top:8px }
a { color:#222222 }
#header { margin: 0; padding: 0; }
#header a { color:#d5381e }
#content { padding: 20px; }
#sidebar { padding: 0px 20px 0px 0; }
#footer { padding: 10px 0; margin: 0; font-size: 13px; text-align: center; border-top: 1px solid #D2D2D2; color:#000; background:#333; color:#fff;  }
#logo { padding:4px 20px 15px; font-size: 200%; color:#43464B; overflow:hidden }
#mainmenu { /*background:white url(bg.gif) repeat-x left top;*/ height:36px; background:url(../images/nav_bg.png) repeat-x 0 0 #cdcdcd; border:solid #afafaf; border-width:1px 0; margin-top:20px }
#mainmenu ul { padding:0; margin:0px; }
#mainmenu ul li { float:left; position:relative; display:block }
#mainmenu ul li a { background:none; border-right-color:#d5d5d3; color:#555; padding:10px 15px; display:block; text-decoration:none }
#mainmenu ul li a:hover, #mainmenu ul li.active a { background:url(../images/nav_hover_bg.png) repeat-x 0 0; color:#000; }
/*
#mainmenu ul li {
	display: inline;
}
#mainmenu ul li a {
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a {
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}*/
div.flash-error, div.flash-notice, div.flash-success { padding:.8em; margin-bottom:1em; border:2px solid #ddd; }
div.flash-error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4; }
div.flash-notice { background:#FFF6BF; color:#514721; border-color:#FFD324; }
div.flash-success { background:#E6EFC2; color:#264409; border-color:#C6D880; }
div.flash-error a { color:#8a1f11; }
div.flash-notice a { color:#514721; }
div.flash-success a { color:#264409; }
div.form .rememberMe label { display: inline; }
div.view { padding: 10px; margin: 10px 0; border: 1px solid #E6E6E6; }
div.breadcrumbs { font-size: 0.9em; padding: 5px 20px; }
div.breadcrumbs span { font-weight: bold; }
div.search-form { padding: 10px; margin: -1px 0 10px; background: #F8F8F8; border: 1px solid #CCCCCC; overflow:hidden; display:none; }
.portlet { }
.portlet-decoration { padding: 3px 8px; margin-bottom:15px; display:none }
.portlet-title { font-size: 26px; font-weight: normal; padding: 0; margin: 0; color: #adcc57; text-align:left; }
.portlet-content { font-size:0.9em; margin: 0; padding: 5px 8px; /*background:#EFFDFF;*/ }
.portlet-content ul { list-style-image:none; list-style-position:outside; list-style-type:none; margin: 0; padding: 0; }
.portlet-content li { padding: 2px 0 4px 0px; }
.operations { list-style-type: none; margin: 0; padding: 0; }
.operations li { padding-bottom: 2px; }
.operations li a { font: bold 13px Arial; color: #fff; display: block; padding: 2px 8px; line-height: 25px; text-decoration: none;  }
.operations li a:visited { color: #fff; }
.operations li a:hover { /*background: #80CFFF;*/ color:#e1f6b3 }

.header-left { float:left; font-size:20px}
.main-text { margin-left: 50px; margin-top: 20px; float: left; }
.header-left img { float:left; margin-right:10px; }
.header-right { float: right; padding: 0 10px; font-weight: bold; position: relative; font-size: 13px; text-align: right; line-height:22px }
#header .header-right a { float:right; margin-left:10px; color:#FF7400; text-decoration: none}
#header .header-right a:hover { text-decoration:underline} 
.maincont { overflow:hidden; min-height:550px; padding:0 15px; position:relative; clear:left }
.last, div.last { padding-left: 10px; }
.breadcrumb { margin:10px 0 0; overflow:hidden; position:relative; float:left }
.breadcrumbs { padding:5px; }
.content_left { float:right; text-align:right; position:relative; z-index999}
.content_right { float:right; width:100%; margin-top:-40px; }
#adminmenu { height:42px; margin-top:1px; background:none  }
#adminmenu li { float:left; position:relative; display:block }
#adminmenu li a { background:none; border-right:solid 1px #676767; border-left:solid 1px #363333; color:#fff; padding:9px 15px; display:block; line-height:24px; }
#adminmenu li a:hover { background:#dddddd; color:#000; }
#adminmenu ul ul { top:34px !important; background:#fff; position:absolute; visibility:inherit; margin:0; padding:0; z-index:999; border:solid 1px #E6E6E6; width:190px !important; }
#adminmenu ul ul li { background:#fff; position:relative; border-bottom:solid 1px #E6E6E6; display:block }
#adminmenu ul ul li a { border:none; }
#sidebar .portlet-content li {  background:url(../images/green_title_bg.jpg) repeat-x 0 0 #78ab0b; border-color:#618d04;  border-radius: 3px 3px 3px 3px; display:inline-block; line-height: 100%; list-style: none outside none; margin-bottom: 10px; overflow: hidden; padding: 5px; }
.list-view .summary { margin-top:-15px !important; }
.login_box {  background: #FFFFFF;   border-radius: 6px;    overflow: hidden;    padding: 20px;    width: 500px; margin:65px auto }
/*.login_box h1 { background: url(../images/login_title_bg.png) repeat-x 0 0; height:53px; line-height:42px; -moz-border-radius:18px 18px 0 0; -webkit-border-radius:18px 18px 0 0; -khtml-border-radius:18px 18px 0 0; border-radius: 18px 18px 0 0; padding:5px 5px 5px 15px; color:#fff; font-size:22px; margin:0 }*/
.login_box .form { padding:10px; width:360px; float:right }
.login_box form .row label { width:90px; }
.login_box .form input[type="submit"] { border:solid 1px #00b300; padding:4px 20px; font-size:17px; font-weight:bold; cursor:pointer; margin-left:0 !important;  }
.login_box .rememberMe input { float:left; margin-right:10px; margin-top:8px }
.login_box .rememberMe { overflow:hidden; margin-left:90px !important; float:left; width:75% }
.login_box .forgotpassword { overflow:hidden; margin-left:90px !important; float:left }
.login_box .buttons { overflow:hidden; margin-left:90px !important; float:left; margin-top:15px; }
.login_box p { margin-bottom:5px; }
.login_box p.note { text-align:right; font-size:11px; }
.login_box div.form .row { margin:0 0 5px }

.grid-view table.items { border-collapse:inherit; border:0; border-spacing:0;}
.content_right .grid-view table.items th { font-size: 12px;   border:0; padding: 0; line-height:30px; }
.content_right .grid-view table.items td { font-size: 12px;   border:0; padding: 2px 8px; line-height:30px; text-align:left;}
.content_right .grid-view table.items td.right {   padding: 2px 8px;}
.content_right .grid-view table.items td.center {  padding: 2px 8px; }

.content_right .grid-view table.items th { color: #43464B; background:url(../images/grid_header_bg.png); text-align: center; border-bottom:3px solid #E0E0E0 }
.content_right .grid-view table.items thead .filters td { color: white; /*background: #e5e5e5;*/ background:#fff; padding:7px 8px; text-align: left; }
.content_right .grid-view table.items thead .filters input[type="text"] { border:solid 1px #ccc; background-color:#fff; padding:5px 3px }
.content_right .grid-view table.items thead .filters select { border:solid 1px #ccc; background-color:#fff; padding:3px 2px }
.content_right .grid-view table.items th a { color: #43464B; font-weight: bold; text-decoration: none; }
.content_right grid-view table.items th a:hover { color: #FFF; }
.content_right .grid-view table.items th a.asc { background:url(up.gif) right center no-repeat; padding-right: 10px; }
.content_right .grid-view table.items th a.desc { background:url(down.gif) right center no-repeat; padding-right: 10px; }
.content_right .grid-view table.items tr.even { background: #fff; }
.content_right .grid-view table.items tr.odd, .content_right table.detail-view tr.odd { background:#F7F7F7; }
.content_right .grid-view table.items tr.selected { background: #aee8c4; }
.content_right .grid-view table.items tr:hover { background: #f2f1f1; }
.content_right table td { padding:3px 0;  text-align: center;font-weight: bold;text-decoration: none; font-size: 11px; }
.content_right .grid-view table.items td input[type="text"] { width:90% }
/* grid view start*/
.grid-view table.items th#user-grid_c0 { /* width:5%; */ text-align:center }
.grid-view table.items th#user-grid_c6 { width:8% }
.grid-view table.items th#user-grid_c7 { width:8% }
.grid-view table.items th#vendor-grid_c0 { width:5%; text-align:center }
.grid-view table.items th#vendor-grid_c6 { width:8% }
.grid-view table.items th#vendor-grid_c7 { width:8% }
.grid-view table.items th#product-grid_c0 { width:5%; text-align:center }
.grid-view table.items th#product-grid_c6 { width:8% }
.grid-view table.items th#product-grid_c7 { width:8% }
.grid-view table.items th#order-grid_c0 { width:5%; text-align:center }
.grid-view table.items th#order-grid_c5 { width:10% }
.grid-view table.items th#order-grid_c6 { width:8% }
.grid-view table.items th#system-config-grid_c0 { width:5%; text-align:center }
.grid-view table.items th#system-config-grid_c5 { width:8% }
.grid-view table.items th#menu-grid_c0 { width:5%; text-align:center }
.grid-view table.items th#menu-grid_c2 { width:15% }
.grid-view table.items th#menu-grid_c3 { width:15% }
.grid-view table.items th#menu-grid_c4 { width:15% }
.grid-view table.items th#menu-grid_c5 { width:15% }
.grid-view table.items th#menu-grid_c6 { width:8% }
/* grid view end */

 
.pager ul.yiiPager .selected a { background:#F7F7F7; border:solid 1px #728737; color:#000 !important }
.pager ul.yiiPager a:link, .pager ul.yiiPager a:visited { border: 1px solid #CCCCCC;    color: #333333;}

input[type="submit"]  { background:#00b300; border:none; color:#fff; font-size:17px; font-weight:normal; padding:3px 25px; cursor:pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

form .row { clear:left }
form .row label { float:left; width:200px; line-height:30px; }
form .row input[type="text"], form .row input[type="password"] { width:250px; border:solid 1px #ccc; padding:4px; background:#fff; color:#666 }
form .row textarea { width:250px; border:solid 1px #ccc; padding:4px; background:#fff; color:#666 }
form .row select { width:260px; border:solid 1px #ccc; padding:4px; background:#fff; color:#666 }
.search-form div.wide label { float:left; width:200px; line-height:30px; }
.search-form div.wide input[type="text"], #product-form .row input[type="password"] { width:250px; border:solid 1px #ccc; padding:4px; background:#fff; color:#666 }
.search-form div.wide textarea { width:250px; border:solid 1px #ccc; padding:4px; background:#fff; color:#666 }
.search-form div.wide select { width:260px; border:solid 1px #ccc; padding:4px; background:#fff; color:#666 }
input#User_id { }
a.search-button { background: #F8F8F8; border: 1px solid #CCCCCC; padding:5px 10px; text-decoration:none; font-weight:bold; display:inline-block }
.width_48 { width:48% }
.fl { float:left }
.fr { float:right }
a.backlink { float:right; margin-bottom:10px; }
.repairersreg { float: left; margin-top: 30px; padding-left: 331px; }
.vehiin { width:25px; text-align:left; }
.vehiind { width:25px; text-align:left }


/* tab menu*/
#tabContaier { margin:0; padding:20px 0; position:relative; width:100%; }
#tabContaier ul { overflow:hidden; border-right:1px solid #fff; height:35px; position:absolute; z-index:100; margin:0; padding:0}
#tabContaier li { float:left; list-style:none; }
#tabContaier li a { background:#ddd; border:1px solid #fcfcfc; border-right:0; color:#666; cursor:pointer; display:block; height:35px; line-height:35px; padding:0 30px; text-decoration:none; text-transform:uppercase; }
#tabContaier li a:hover { background:#eee; }
#tabContaier li a.active { background:#fbfbfb; border:1px solid #fff; border-right:0; color:#333; }
.tabDetails { background:#fbfbfb; border:1px solid #333; margin:34px 0 0; }
.tabContents { padding:20px }
.tabContents h1 { font:normal 24px/1.1em Georgia, "Times New Roman", Times, serif; padding:0 0 10px; }
.tabContents p { padding:0 0 10px; }

.grid-view .summary  { color:#1DA9F1}
/* tab menu*/


ul.filed_list {    display: block;    list-style: none outside none;    margin: 0;    padding: 0;    width: 100%;}
ul.filed_list li {    display: inline-block;    margin: 0;    padding: 0;    vertical-align: top;    width: 48%; *float:left}
ul.filed_list li label { width:30%; line-height:25px;}
ul.filed_list li.full_width { clear:left; width:100%}
ul.filed_list li  input[type="text"], ul.filed_list li  input[type="password"] { border: solid 1px #ccc;  width:60%; padding:3px 5px; margin:0}
ul.filed_list li  input[type="submit"] { margin-left:30%;}
ul.filed_list li  textarea { border: solid 1px #ccc;  width:60%; padding:3px 5px}
ul.filed_list li  select  { border: solid 1px #ccc; width:62%; padding:3px 2px 3px 5px}
ul.filed_list li.full_width  textarea  { border: solid 1px #ccc;  width:94%; padding:3px 5px; min-height:100px}

.backlink { background:url(../images/back_icon.png) no-repeat 50% 50%; color:#fff; text-align:center; height:54px; width:54px; line-height:54px; text-decoration:none}
.backlink:hover {  color:#e1f6b3}

/* Login page*/

.loginpage #header { background:url("../images/admin-main-bg1.png") repeat-x scroll 0 0; width:100%; overflow:hidden}
.loginpage .login_content {  background: #202020;  width:100%;   overflow:hidden;  min-height:500px;}
.loginpage #footer  { background:#fff; width:100%;  overflow:hidden; clear:left}
.loginpage .content { margin: 0 auto;   width: 940px;}

.loginpage form#login-form div.row span.required  {  left: inherit;   position: relative;}

.loginpage .content  h1 {   border-bottom: 1px solid #000000;    font-size: 19px;    font-weight: bold;    margin: 0 0 10px;    padding-bottom: 5px; }

.loginpage .content form .row input[type="text"], .loginpage .content form .row input[type="password"] { background:#fff; border:solid 1px #bfbfbf; padding:6px; font-size:18px; color:#444444; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow:  inset 0 0 3px #ccc; -webkit-box-shadow: inset 0 0 3px #ccc; box-shadow:  inset 0 0 3px #ccc; }
.loginpage .content .login_box .form { width:100%}
.loginpage .content .login_box form .row label { width:140px; text-align:right; margin-right:10px;}
.loginpage .content .login_box .rememberMe { margin-left: 150px !important;}

.loginpage .content .login_box form .row .remember-me-div  label { width:auto; margin-right:15px; font-weight:normal}
.forgot-password-div { line-height:34px;}
.forgot-password-div a { text-decoration:underline; font-weight:normal; color:#555555}
.forgot-password-div a:hover { text-decoration:none}
.loginpage .content  .login_box .buttons { margin-left:150px !important;}




/*bhaumik*/
#videos-form .ui-multiselect { width: 100% !important; clear:left }
#videos-form .ui-multiselect .selected { width: 48% !important; float:left }
#videos-form .ui-multiselect .selected ul { width:100% !important}
#videos-form .ui-multiselect .available { width: 48% !important; float:right}
#videos-form .ui-multiselect .available ul { width:100% !important}

