/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	color: #555;
	font-family: arial;
	font-size: 11px;
	line-height: 20px; 
	background-color: #fff; 
}

h1, h2, h3, h4, h5, h6 {
	color:#555;
	font-weight:400;
	padding: 0;
	margin: 0;
	font-family: Arial
}

h1 { font-size:32px; margin-bottom: 20px; }
h2 { font-size:26px; margin-bottom: 20px; line-height: 28px }
h3 { font-size:20px; margin-bottom: 20px; }
h4 { font-size:18px; margin-bottom: 10px; }
h5 { font-size:16px }
h6 { font-size:14px }
.header { display: block }

.left { float:left }
.right { float:right }

img { margin: 0; padding: 0}
.img_border { background: #ede8e8; padding: 4px; border: 1px solid #dcd5d5 }
.img_frame { position: relative; display: block; padding: 7px }
.img_frame span { position: absolute; top: 0; left: 0; z-index: 0 }
.img_frame img, .img_frame iframe { position: absolute; top: 7px; left: 7px; /*z-index: 100*/ }
.img_frame_13 { width: 280px; height: 157px }
.img_frame_13 span { background: url(../images/templatemo_image_frame_13.png); width: 300px; height: 177px }
.img_frame_14 { width: 203px; height: 108px }
.img_frame_14 span { background: url(../images/templatemo_image_frame_14.png); width: 217px; height: 122px }
.img_frame_23 { width: 616px; height: 216px }
.img_frame_23 span { background: url(../images/templatemo_image_frame_23.png); width: 630px; height: 230px }
.img_frame_12 { width: 451px; height: 245px }
.img_frame_12 span { background: url(../images/templatemo_image_frame_12.png); width: 465px; height: 260px }
.img_nom { display: block; margin-bottom: 15px }
.img_fl { float: left; margin: 3px 15px 5px 0 }
.img_fr { float: left; margin: 3px 0 5px 15px }


a:link, a:visited { color:#e16715; text-decoration: none}
a:hover { text-decoration:underline }
a:hover,a:active { outline:none }

a.more, .submit_btn { clear: both; display: block; width: 80px; height: 25px; line-height: 25px; color: #fff; text-align: center; text-decoration: none; background: url(../images/templatemo_button.png) no-repeat }

.submit_btn { border: none; cursor: pointer }

em { color: #555 }
p { margin: 0 0 15px 0 }

.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
.list_bullet li { color:#555; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(../images/templatemo_list.png) no-repeat scroll 0 5px  }
.list_bullet li a { color: #555; font-weight: normal; text-decoration: none }
.list_bullet li a:hover { color: #555 }

.clear { clear: both; display: block; }
.h20 { height: 20px }
.h40 { height: 40px }

.no_bullet { margin: 0; padding: 0; list-style: none }
.no_bullet li { margin: 0 0 20px 0; padding: 0 }
a.header { display: block; font-weight: 700 }

#templatemo_header_wrapper {
	width: 100%;
	background: url(../images/templatemo_header_bg.jpg) repeat-x
}
#templatemo_middle_wrapper {
	width: 100%;
	background: url(../images/templatemo_slider_bg.jpg) repeat-x
}
#templatemo_bottom_wrapper {
	width: 100%;
	background: #eae9e9
}
#templatemo_footer_wrapper {
	width: 100%;
	background: #292727
}
.wrapper { 
	width: 960px;
	padding: 0 10px;
	margin: 0 auto
}
#templatemo_header {
	height: 80px;
}
#templatemo_middle {
	height: 440px;
}
#templatemo_slider {
	padding: 60px 0;
}
#templatemo_main {
	padding: 40px 10px;
	background: #fff
}
#templatemo_bottom {
	padding: 40px 10px;
}
#templatemo_footer {
	padding: 20px 10px;
	color: #CCCCCC;
}

.col { float: left; margin: 0 25px 25px 0 }
.half { width: 465px; margin-bottom: 30px }
.one_third { width: 300px }
#content, .two-third { width: 630px }
#sidebar { width: 300px }
.one_fourth { width: 216px }

#site_title { float: left; margin-top: 2px  }
#site_title a { display: block; font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; width: 246px; height: 104px; color: #acacac; text-indent: -10000px; background: url(../images/logo.png) no-repeat top left }

#templatemo_menu { float: right; margin-top: 20px; }
.account-link { text-align:right; color:#fff; font-size: 14px; padding-bottom:5px; }

.post { clear: both; margin: 0 0 40px 0; padding: 0 0 40px 0; border-bottom: 1px solid #eee }
.post h2 { margin-bottom: 10px }
.post_meta { margin-bottom: 30px; font-size: 9px; line-height: 10px }
.post_meta span { display: block; float: left; border-left: 1px solid #eee; width: 140px; padding-left: 5px }
.comment_list { margin: 0; padding: 0; list-style: none }
.comment_list .comment_box { padding: 20px; border-bottom: 1px solid #efefef }
.comment_list li { margin-bottom: 20px }
.comment_list li ul { list-style: none; background: none }
.comment_list li ul li { }
.comment_list li ul li .comment_box { background: #efefef }
.comment_content { float: right; width: 470px }
.comment_list li ul li.depth_2 .comment_content  { width: 430px }
.comment_list li ul li.depth_3 .comment_box { background: #ccc }
.comment_list li ul li.depth_3 .comment_content  { width: 390px }

#comment_form { margin-top: 40px }

#comment_form textarea {
	color: #666;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #ccc;
	display:block;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width: 360px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	color: #666;
	margin-top: 5px;
	padding: 3px 0;
	width: 200px;
	background:#fff none repeat fixed 0 0;
	border: 1px solid #ccc;
}

#comment_form .submit_btn {
	display: block; width: 70px; height: 30px; line-height: 30px; padding: 0 8px; text-align: center; text-decoration: none; font-weight: bold;  background-color: #524239; border: 1px solid #2f2f2f; color: #fff; font-size:11px; cursor: pointer 
}


#gallery {
	margin: 0; padding: 0; list-style: none;
}
#gallery .gallery_box {	padding-bottom: 60px; margin-bottom: 60px; border-bottom: 1px solid #eee  }


#sidebar h3 { padding:0 0 35px 10px; background: url(../images/templatemo_sidebar_title.png) bottom no-repeat }

.sidebar_box { margin-bottom: 40px }
.sidebar_box_content {padding-left: 10px }


#contact_form { padding: 0; margin-bottom: 40px }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { width: 290px; padding: 5px; color: #808b98;  background: #fff; border: 1px solid #dedede; }
#contact_form form label { display: block; width: 300px; margin-right: 12px; font-size: 11px }

#contact_form form textarea { 
	width: 620px; 
	height: 130px; 
	padding: 5px; 
	color: #808b98; 
	background: #fff; 
	border: 1px solid #dedede; 
	font-family: Arial, Helvetica, sans-serif; 
}

.footer_gallery { margin: 0; padding:0; list-style: none }
.footer_gallery li { margin: 0 10px 10px 0; padding: 0; display: block; float: left }

.pagging { margin: 0 0 20px; padding: 0 }
.pagging ul { margin: 0; padding: 0; list-style: none }
.pagging ul li { margin: 0; padding: 0; display: inline }
.pagging ul li a { float: left; display: block; color: #ccc; text-decoration: none; margin-right: 5px; padding: 5px 10px; background: #524239; border: 1px solid #241d19}
.pagging ul li a:hover { background: #df6513; color: #fff  }

.no_margin_right { margin-right: 0 }
.last_box { margin-bottom: 0; background: none }