@CHARSET "ISO-8859-1";
.listview {font-size: 12px; border:1px solid #9FDBF7; margin-bottom:3px; min-height: 100px}
.listview:hover {background-color: #D7EAF7; font-size: 12px;}

/* .listview div {border:1px solid; margin:0} */
.listview div.col-left, div.col-right {min-height: 100px;}
.listview .col-left {float: left; width:70%}
.listview .col-right {float: right; width:20%}


.listview .title {font-size: 14px; font-weight:bold;}
.listview .contact {float: left;}
.listview .contact div.data {float: left; padding: 0 10px; color:#1595EB;}
.listview .contact .label-data {float: left; font-weight: bold;}
.listview .contact div.data:hover { color: #3a87ad;}


.listview .time {margin-top:75px; float: right; cursor:pointer; clear:both;}
.listview .price {float: right;}
.listview .city {color: #000; font-weight:bold;}

.listview div.image img{ border-radius: 5px; border: 1px solid #000; }

.list-left {float: left; width: 250px; min-height: 250px;}

.list-left .cat-block {margin-top:0}

.list-left li span{line-height: 12px;}
.list-left li span a{padding-left: 3px;}
.list-content {float: left; width: 600px; padding: 0px 5px;}
.list-content .list-view { padding-top:0}


.type-block ul li {min-width:30px; font-size: 14px;}
.ad_type_link {cursor: pointer;}
.type-block ul li a.active {font-weight: bold;}

.search_setting {overflow: auto}
.search_setting .alert{float: left; margin-right:5px;}
