@charset "utf-8";
/* CSS Document */
body { font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0; color: #616060; }
ul, ol, dl { padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6, p { margin-top: 0; padding-right: 15px; padding-left: 15px; }
/*
a img {
	border: none;
}

a:link {
	color: #414958;
	text-decoration: underline;
}

a:visited {
	color: #4E5869;
	text-decoration: underline;
}

a:hover,a:active,a:focus {
	text-decoration: none;
}
*/
.container { width: 80%; max-width: 1260px; min-width: 780px; background: #FFF; margin: 0 auto; }
.content { padding: 10px 0; height: auto; }
.content ul, .content ol { padding: 0 15px 15px 40px; }
.fltrt { float: right; margin-left: 8px; }
.fltlft { float: left; margin-right: 8px; }
.clearfloat { clear: both; height: 0; font-size: 1px; line-height: 0px; }
.body { margin: 0; }
/* metro common  button */
.metro_btn { background: #0385ff; height: 30px; text-align: center; color: #fff; border: none; font-size: 14px; font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif; text-shadow: #999; margin-top: 3px; }
.metro_btn_link { background: #0385ff; text-align: center; color: #fff; border: none; font-size: 14px; font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif; text-shadow: #999; padding: 12px; }
a.metro_btn_link { text-decoration: none; color: #fff; float: left; margin: 0 2px; }
.metro_btn:hover, .metro_btn_link:hover { background: #616060; cursor: pointer; border: none; -webkit-box-shadow: 0 0 10px #333; }
/* Top bar */
.topbar { background: #e7e9e9; height: 100px; }
.topbar_in { width: 960px; margin: 0 auto; }
.logo { /* position: absolute;*/
}
a.img-logo { margin: 3px 0px; background-image: url(../images/logo.png); height: 70px; width: 170px; float: left; background-size: 170px 70px; padding: 0px; background-repeat: no-repeat; }
.logo-city { display: block; text-align: left; /* margin-top: 65px; */
	float: left;/* position: absolute; */
}
}
.logo-city a { font-size: 14px; font-weight: bold; color: #020B0F; text-decoration: none; }
.logo-city a:hover { text-decoration: underline; }
/* Search bar */
.search-area { margin-top: 15px; margin-left: 5px; padding: 0 10px; float: left; width: 420px; }
.looking-block { float: left; padding: 0 0 0 5px; }
div.type { margin-top: 3px; width: 80px; z-index: 100; float: left; border: none; padding: 0 5px 0 0; }
div.type .sbHolder { width: 80px !important; }
div.type .sbHolder .sbOptions { width: 80px !important; }
div.type .sbSelector { width: 80px !important; }
div.city-cat { margin: 5px 125px 5px 5px !important; width: 180px; z-index: 100; float: left; border: none }
div.city-cat .sbHolder { width: 180px !important; }
div.city-cat .sbHolder .sbOptions { width: 180px !important; }
div.city-cat .sbSelector { width: 180px !important; }
div.select-box { width: 80px; z-index: 100; float: left; border: none; overflow: visible }
.search-box input.search_input { float: left; border: 1px solid #D0E6F2; margin-right: 3px; font-size: 16px; width: 250px; padding: 6px 0; padding-left: 10px; color: #333; }
.search-box .search_btn { width: 43px; float: left; margin: 3px; border: 0px solid #DEB500; }
.search-box .search_btn span { background-image: url(../images/search_btn.png); padding: 2px 8px; }
/*
div.select-box { top:28px; left:0; width:198px; border:1px solid #ccc; overflow:hidden;    background:#f6f6f6; padding-top:2px; display:block;}     
div.select-box select { width: 100px; border: none; background-image:}
*/
span.selectOption { display: block; width: 80%; line-height: 20px; padding: 5px 10%; }
span.selectOption:hover { color: #f6f6f6; background: #4096ee; }
.link-box { padding: 5px; float: left; margin-top: 10px; }
.login-area { float: right; margin: 5px; }
.account-link a{font-size: 12px;}
.contents { min-height: 600px; background: #fff; font-family: Arial, Helvetica, sans-serif; width: 960px; margin: 0 auto; }
.contents-middle { width: 960px; margin: 0 auto; padding: 5px; }
/* popular */
.popular-block { float: none !important; }
.popular-block ul li { display: inline !important; float: left;/* min-width: 100px !important; */
}
.popular-block .pop1 { font-size: 18px; }
.popular-block .pop2 { font-size: 20px; }
.popular-block .pop3 { font-size: 22px; }
.cat-block { border: 1px solid #0F9EEE; width: auto; font-size: 12px; float: left; margin: 5px; }
.cat-block h3.orange { background-color: #EDAA2E; }
.cat-block h3.green { background-color: #2D583B; }
.cat-block h3.red { background-color: #F33; }
.cat-block h3.silver { background-color: #635858; }
.cat-block h3.yellow { background-color: #B4B41B; }
.cat-block h3.pink { background-color: #EDAA2E; }
.cat-block h3 { background: url(../images/cat-icon.png) no-repeat 4px 4px; background-size: 18px; background-color: #0385FF; color: #FFF; font-size: 16px; padding: 2px 25px; margin: 0; line-height: 25px !important; }
.cat-block h3 a { color: #FFF; }
#preview-cat .cat-block { font-size: 9px !important; }
#preview-cat .cat-block h3 { font-size: 11px; background-size: 12px; }
.cat-block:hover { -webkit-box-shadow: 0 0 10px #333; }
.cat-block h3:hover { background-color: #616060; opacity: 50%; cursor: pointer; }
.cat-block ul { list-style-position: inside; /* min-height: 200px; */
	min-width: 150px; width: auto; overflow: auto; padding: 2px 0; }
.cat-block ul li { list-style: none; min-width: 200px; width: auto; max-width: 500px; display: block; }
.cat-block ul li a { padding-left: 8px; margin: 0 5px 0 0; text-decoration: none; color: #0385FF; display: block; }
.cat-block ul li a:hover { text-decoration: underline; color: #616060; }
/* footer */
.footer { min-height: 100px; background: #0385ff; color: #EBEBEB; }
.footer-content { width: 960px; margin: 0 auto; padding: 5px; }
.footer-links { float: left }
.copy { float: right; overflow: hidden; font-size: 10px; }
.footer-links a { color: #fff; text-decoration: none; }
.footer-links a:hover { color: #1B1B1D; }
.clear { clear: both; }
/* login box css */

#login_box { border: 1px solid #BDBEBE; background: #F4FCFF; padding: 10px; margin: 20px; width: 400px; float: left; }
.errorMessage { font-size: 12px; font-weight: bold; color: #FFF; float: right; margin: 4px 5px; border: 2px solid #FCFCFC; padding: 3px; background: #EC5252; }
.captcha .errorMessage { float: left; }
#login_box .rememberMe { float: left; }
#login_box .buttons { text-align: center; margin: 15px 0px; }
#login_box p.note { font-size: 9px; color:red; text-align: right; }
#login_box label { width: 150px; float: left; line-height: 45px; }
#login_box input.box { border: 1px solid #9BA3A7; padding: 2px; font-size: 20px; float: left; }
label { font-size: 14px; }
#register_box { border: 1px solid #BDBEBE; background: #F4FCFF; padding: 10px; margin: 20px 0; /* width: 900px; */
	float: left; }
.row { float: left; }
.row-900, .row-radio { width: 900px; }
.row .prefix { float: left; padding: 5px; }
.captcha { width: 550px; }
.captch_label { width: 400px !important; }
/*
.captcha {width: 500px;}
.captcha a{float: right; margin: 10px 0;}
.captcha .captcha-text{margin: 5px 250px;}
*/
span.required { color: red }
.chzn-container { float: left }
#register_box .rememberMe { float: left; }
#register_box .buttons { text-align: center; margin: 15px 0px; }
#register_box p.note { font-size: 9px; color:red; text-align: right; }
#register_box label { width: 250px; float: left; line-height: 45px; }
#register_box input.box { border: 1px solid #9BA3A7; padding: 2px; font-size: 20px; float: left; }
.chekbox_row { float: left; clear: both; margin: 10px 0; width: 800px; }
#register_box input.error { border:1px solid #f00 }
#register_box .buttons { text-align: center; margin: 5px 250px; }
#register_box .radio-list span input { float:left; }
#register_box .radio-list span label { line-height:normal; width: auto; }
.div_ckeditor { float: left; }
.row { margin-left: 0 !important; min-width: 600px; }
.search-box { float: left }


.scrollup{
   width: 30px;
height: 30px;
opacity: 0.3;
position: fixed;
bottom: 50px;
right: 50px;
display: none;
text-indent: -9999px;
background: url('../images/icon_top.png') no-repeat;
background-size: 30px;

}
#adlist .items{z-index: -2;}
.adlist-view-loading {}
.loader-ajax {border: 1px solid #0385FF; margin:250px 300px; width:50px; height:50px; position: fixed; z-index: 1; background: url('../images/ajax-loading.gif') no-repeat !important }