/* CSS Document */

div.wrapper { padding:20px 0; width:94%}
div#main { min-height: 600px; background:white url(images/main-bg.png) repeat-y 0 0 }

div#page  { margin-top:0; float:right; margin: 0 0 0 -190px ; width: 100%; padding:0; position: static ; display:block}
div#sidebar { float:left; width:188px ; }
div#page .page_content { margin:0 0 0 188px; width: auto; padding:0}


div.page-title .titlebar { padding-top: 15px; }
.breadcrumbs { padding:5px 0 0 22px;}

#sidebar #sidemenu  { }
#sidebar #searchbox { }

.msg_icon_li {padding: 2px 10px;}

div#header { background-repeat:repeat}

#quickmenu-right { /*position:absolute; left:0; top:100px; width:42px; background:#F8F8F8; border:solid 1px #E4E4E4; padding:3px; background:none; border:none;*/ 
padding: 10px 5px 5px; text-align: center; width: 58px; margin-left: -1px;
}
#quickmenu-right a.tips-left { height:18px; width:100%; display:block; /*background:none;*/ padding:0}
#quickmenu-right li { display:block; width:100%; float:left; margin-bottom:8px;}


#quickmenu-right .box,
#quickmenu-right .box-active { width:18px; display:block; height:18px; margin:0 18px; }
#quickmenu-right .box-active { border:1px solid #fff}
div#notifications { float:right; width:auto !important; margin-right:20px;}	
div#header .logo { padding:10px 0 0 0;   float:left; width: 0;}
div#header .logo a { float:left; margin-left:15px;}
div#header .logo small { color:#fff; margin-left:5px; margin-top:6px; margin-left: 102px; clear:left; float:left; font-size:12px;}

div.page-title .shortcuts-icons { padding-top:0}

#skin_quickmenu {
width: 68px;
height: 44px;
background: url(../img/profileboxbg.png) no-repeat;
float: right;
margin: 14px 14px 0 0;
position: relative;
}
/* ================= skin_quickmenu ================= */
#skin_quickmenu  .display { display: block; padding:15px 6px !important; font-size: 11px; color: #A5C6EC; line-height: 15px; height:16px; }

#skin_quickmenu  .display:hover { text-decoration: none; }
#skin_quickmenu  .display img { border: 1px solid #1D4E76; float: left; margin-right: 7px; }
#skin_quickmenu  .display b { float:left; color: #fff; }
#skin_quickmenu  .display span { background: url(../img/arrow-down.png) no-repeat right; padding-right: 11px; }

#quickmenu-right ul li a { background:none}
div#skin_quickmenu .display span { background:none; padding-right:0; margin-left:5px; float:left}

.boxdark-active { width:15px; height:15px; display:inline; float:right; background:#585858; border:solid 1px #fff;}
.boxblue-active { width:15px; height:15px; display:inline; float:right; background:#3C81B5; border:solid 1px #fff;}
.boxgreen-active { width:15px; height:15px; display:inline; float:right; background:#317f3b; border:solid 1px #fff;}
.boxorange-active { width:15px; height:15px; display:inline; float:right; background:#E47848; border:solid 1px #fff;}
.boxpurple-active { width:15px; height:15px; display:inline; float:right; background:#92577C; border:solid 1px #fff;}
.boxseaGreen-active { width:15px; height:15px; display:inline; float:right; background:#468E90; border:solid 1px #fff;}


/************** end skin css ********************/

.page-title .shortcuts-icons { width:auto !important}
div#footer { color:#666; font-size:12px; padding-bottom:20px }


.grid-view .filters input, 
.grid-view .filters select { width:90% !important}

table.tablesorter thead tr.filters td { border:1px solid #E4E4E4; padding:5px; }

table.tablesorter tbody tr.odd td { background:#faf6f6 !important}

table.tablesorter thead tr th { /*background:-webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%) !important;*/ border-top:solid 1px #e5e5e5 !important; }
table.tablesorter thead tr th a { color:#000 !important}

.tablesorter tr.filters { background:#F8FAFB}
table.tablesorter { background:#F8FAFB !important}


table.tablesorter tbody tr.odd td { background:#f9f9f9 !important}


#sidemenu a { font-weight:bold;}

.content .grid740 { width:100%; display:block; }

a.qbutton-normal,
a.qbutton-right { padding-top:0}
a.qbutton-normal,
a.qbutton-right {height:36px;}

.qbutton-right img.help { width:28px; margin-top:4px;}




a.dashbutton { padding:10px;}
a.dashbutton, 
a.dashbutton:hover { height:auto; width:160px;}
a.dashbutton img { width:100px;}
a.dashbutton  b { font-size:17px; font-weight:normal }

#map_table_OrderStatus td.radio_column { border:1px solid #E4E4E4;}

.pagination {text-align: right !important;}
#sidemenu a img {background: #2d2d2d; border-radius: 3px; padding: 3px;}


.page-title h1, h2, h3{ line-height: auto;}
.logo img{max-width: 250px;}

.tablesorter td div.red-amt , .detail-view div.red-amt{ max-width:80px; background: none repeat scroll 0 0 red; color: #fff; font-weight: bold; padding: 2px; z-index: 650;}
.tablesorter td div.green-amt , .detail-view div.green-amt{ max-width:80px; background: none repeat scroll 0 0 green; color: #fff; font-weight: bold; padding: 2px; z-index: 650;}
.tablesorter td div.orange-amt , .detail-view div.orange-amt {max-width:80px; background: none repeat scroll 0 0 orange; color: #fff; font-weight: bold; padding: 2px; z-index: 650;}
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all{top:276px;}
table.detail-view th, table.detail-view td
{
	font-size: 12px !important;
}		
.errorMessage{color:red;}
.grid-view{overflow-x: auto;}


table.tablesorter thead tr th, table.tablesorter tfoot tr th {padding: 4px !important;}
.flash-error{ font-size: 14px;font-weight: bold;color: red;}
.print{float:right;}
.expmsg{color:red;font-weight:bold;float:right;}
.expmsg-login{color:red;font-weight:bold;font-size:16px;}